.form {
  margin-top: 1rem;
  margin-left: 1rem;
  max-width: 600px;
}

.form-buttons {
  margin-bottom: 1rem;
}

.mat-card-footer {
  height:35px;
}

.mat-card-content {
  height:35px;
}

.mat-card-title {
  height:70px;
}
